body {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #595959;
  background-color: #c0c0c0;
}

.container {
  width: fit-content;
  margin: 30px auto;
  background-color: white;
  border: 0px solid #595959;
  border-radius: 10px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

a {
  text-decoration: none;
}
