.col-main {
    background-color: rgba(83, 208, 171, 0.08);
    padding-left: 40px;
  }

  button,
form,
.p-info {
  font-family: "Activ Grotesk", "Roboto", "Helvetica Neue", sans-serif;
}
  
  h1 {
    font-size: 72px;
    font-style: italic;
    font-weight: 500;
    color: #595959;
    margin: 0 0 20px 0;
  }
  h1,
  .temp {
    text-transform: uppercase;
    line-height: 60px;
  }
  
  h2,
  .subtitle {
    font-size: 24px;
  }
  
  .btn-current {
    text-transform: lowercase;
    font-size: 18px;
    color: #7acdb4;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }
  
  .main-icon {
    width: 346px;
    display: block;
    margin: 0 auto;
    padding-left: 150px;
    margin: 0;
    position: relative;
    top: -32px;
    left: -83px;
  }
  
  .subtitle {
    margin: 0 0 20px 0;
  }
  
  .description {
    font-size: 20px;
  }

  .row-main-temp {
    margin-left: -8px;
  }
  
  .temp {
    color: #595959;
    font-size: 136px;
    position: relative;
    top: -30px;
    font-weight: 300;
  }
  
  .celsius {
    position: relative;
    top: -73px;
    font-size: 64px;
    color: #595959;
    font-weight: 300;
  }
  
  .p-info {
    margin: 0px 0 20px 0;
    position: relative;
    top: -30px;
  }

  /*forecast */

  .btn-success {
    padding: 6px 16px;
    background-color: #7acdb4;
    border-color: #7acdb4;
  }
  
  .col-color {
    padding-left: 40px;
  }
  
  .search-row {
    margin: 90px 0 30px 0;
  }
  
  .quote {
    margin: 0 80px;
    margin-top: 45px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    font-weight: 300;
  }
  
  .days {
    margin: 20px 0 0 20px;
    font-size: 28px;
    font-weight: 400;
  }
  
  .row-days {
    margin-left: 2px;
    margin-top: 10px;
  }
  
  .row {
    margin-right: 0px;
    margin-left: -6px;
  }
  
 