.col-main {
    background-color: rgba(83, 208, 171, 0.08);
    padding-left: 40px;
  }

  button,
form,
.p-info {
  font-family: "Activ Grotesk", "Roboto", "Helvetica Neue", sans-serif;
}
  
  h1 {
    font-size: 72px;
    font-style: italic;
    font-weight: 500;
    color: #595959;
    margin: 0 0 20px 0;
  }
  h1,
  .temp {
    text-transform: uppercase;
    line-height: 60px;
  }
  
  h2,
  .subtitle {
    font-size: 24px;
  }
  
  .btn-current {
    text-transform: lowercase;
    font-size: 18px;
    color: #7acdb4;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }
  
  .main-icon {
    width: 346px;
    display: block;
    margin: 0 auto;
    padding-left: 150px;
    margin: 0;
    position: relative;
    top: -25px;
    left: -83px;
  }
  
  .subtitle {
    margin: 0 0 20px 0;
  }
  
  .description {
    font-size: 20px;
  }

  .row-main-temp {
    margin-left: -8px;
  }
  
  .temp {
    color: #595959;
    font-size: 136px;
    position: relative;
    top: -25px;
    font-weight: 300;
  }
  
  .celsius {
    position: relative;
    top: -65px;
    left: 10px;
    font-size: 54px;
    color: #595959;
    font-weight: 300;
  }
  
  .p-info {
    margin: 0px 0 20px 0;
    position: relative;
    top: -3px;
  }

  /*forecast */

  .btn-success {
    padding: 6px 16px;
    background-color: #7acdb4;
    border-color: #7acdb4;
  }
  
  .col-color {
    padding-left: 40px;
  }
  
  .search-row {
    margin: 90px 0 30px 0;
  }
  
  .quote {
    margin: 0 80px;
    margin-top: 45px;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    font-weight: 300;
  }
  
  .days {
    margin: 20px 0 0 20px;
    font-size: 28px;
    font-weight: 400;
  }
  

  


 @media (max-width: 1999px) {
  .main-icon {
    position: relative;
    top: -20px;
    left: -100px;
  }  
  
  .temp {
    font-size: 124px;
    position: relative;
    top: -25px;
    left: -10px;

  }
  
  .celsius {
    position: relative;
    top: -55px;
    left: 10px;
    font-size: 48px;

  }
    .p-info {
      font-size: 14px;
    }
    .search-row {
      margin: 40px 0 30px 0;
  }

    .search-box  {
      width: 70%;
    }

    .submit-button {
      width: 30%;
    }
  }

  @media (max-width: 991px) {
    .main-icon {
   display: none;
    }  
    
    .temp {
      font-size: 124px;
      position: relative;
      top: -25px;
      left: -10px;
  
    }
    
    .celsius {
      position: relative;
      top: -55px;
      left: 10px;
      font-size: 48px;
  
    }
      .p-info {
        font-size: 14px;
      }
    }
  